<div class="container" style="background-color:#ffffff !important;">
    <div class="row">
        <div class="col-xs-12 text-center" id="top-bar" style="margin-bottom:20px;">
            <h1 style="font-weight:bold;text-transform:uppercase;color:#ab2300">Eat-Da-Burger!</h1>
        </div>
        <div class="col-xs-6 text-center" class="task">
            <div class="row">
              {{#each burger_data}}
                {{#unless this.devoured}}
                <div class="col-xs-9 text-center">
                    <pre>{{this.id}}. {{this.burger_name}}
                    </pre>
                        <!-- {{this.Date}} -->
                </div>
                <div class="col-xs-3 text-center">
                    <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                        <input input type="hidden" type="text" name="burger_id" value={{this.id}}><br>
                        <button type="submit" class="btn btn-success">Devour it!</button>
                    </form>
                </div>
                {{/unless}}
              {{/each}}
            </div>
        </div>
        <div class="col-xs-6 text-center" class="task">
              {{#each burger_data}}
                {{#if this.devoured}}
                    <input style="margin-bottom:10px;" class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
                {{/if}}
              {{/each}}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center enter_section" style="padding:20px;background-color:#ffffff !important">
            <form action="/burgers/create" method="POST">
                <input type="text" class="form-control" name="burger_name" value="" id="enter_text">
                <button type="submit" class="btn btn-danger" id="text-enter-button" style="margin-top:20px">Submit</button>
            </form>
            <p style="font-style:italic;font-size:12px;margin-top:20px;">Type in your favorite burger and submit.</p>
        </div>
    </div>
</div>
